<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sub_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sub_category.description %>
</p>


<table>
  <tr>
    <th>Products:</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to 'Show', product %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
<br />


<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
