<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>Score:</b>
  <%= @review.score %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', product_reviews_path %>
