<!DOCTYPE html>
<html>
<head>
  <title>Allreviews</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if signed_in? %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    <%= link_to "Sign in with facebook", "/auth/facebook" %>
  <% end %>
</head>
<body>
<%= yield %>
</body>
</html>
